.page_3{
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 90vw;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
    
    
    
    
    .text_page3{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
     .text_page3 h1{
       padding: 1vw 2.5vw;
       margin-top: 3vw;
       border: 3px solid var(--color_1);
       border-radius: 10px;
       font-size: 3vw;
       color: var(--color_1);
     }


.img_contact_me{
  transform: scale(0.8);
}

.contact{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;;
}


.contact label{
  text-align: left;
  width: 80%;
  padding: 1vw 0;
 font-size: 2vw;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.contact input {
  width: 80%;
  outline: none;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 6vw;
  padding: 2vw;
  font-size: 2vw;
}

.contact button{
margin-top: 2vw;
background: var(--color_1);
color: #FFFFFF;
  width: 80%;
  outline: none;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 6vw;
  
}




.contact #message {
  width: 80%;
  outline: none;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 15vw;
    padding: 2vw;
    font-size: 2vw;

}